<div class="image-field">
  <div id="tinderslide">
      <ul>
        <li class="pane0">
          <div class="img">
            <img src="http://robmientjes.nl/static/play/the-end.png">
          </div>
          <div></div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane1">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/474x/dd/43/42/dd43420e857b21c9dbb9bea86a6e1f8f.jpg">
          </div>
          <div>ナス</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane2">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/01/32/58/01325889834abd5b67643c70277e8584.jpg">
          </div>
          <div>オムライス</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane3">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/474x/93/78/68/937868aefb182140e9c22fdc3108cca1.jpg">
          </div>
          <div>海鮮丼</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane4">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/564x/68/78/10/687810215dd4bd50db365101cae590ff.jpg"></div>
          <div>つけ麺</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane5">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/474x/43/ba/7a/43ba7a4b8df881054d3b4b551302a5bb.jpg"></div>
          <div>パンケーキ</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
        <li class="pane6">
          <div class="img">
            <img src="https://s-media-cache-ak0.pinimg.com/474x/4f/bd/6e/4fbd6e809baf78bbf83041c66609d577.jpg"></div>
          <div>京都ラーメン</div>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
      </ul>
  </div>
</div>
<br>
<br>
<%= link_to "リロードするよん!" , dishes_index_path %>
<script>
$("#tinderslide").jTinder('like');

$("#tinderslide").jTinder('dislike');

$("#tinderslide").jTinder({
    onDislike: function (item) {
        alert('Dislike image ' + (item.index()+1));
    },
    onLike: function (item) {
        alert('Like image ' + (item.index()+1));
    },
    animationRevertSpeed: 200,
    animationSpeed: 400,
    threshold: 1,
    likeSelector: '.like',
    dislikeSelector: '.dislike'
});
</script>