<!DOCTYPE html>
<html>
  <head>
    <title>MealApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pc/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'pc/application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script>$("#tinderslide").jTinder();</script>

  <body>
    <%= yield %>
  </body>
</html>
